openapi: 3.0.2
servers:
  - url: 'http://del.skat.dk/'
x-servers:
  - url: 'http://del.skat.dk/'
info:
  description: |

    # Introduction
    This is the API for receiving filings concerning citizens taxable transactions, from sharing economy platforms, for project DEL (Deleøkonomi).
    This REST API is built, in order for platforms to send in relevant income data to Skatteforvaltningen on their users and their rentals.

    The API is organized around [REST](https://en.wikipedia.org/wiki/Representational_state_transfer), using JSON as the payload format. Our API has resource-oriented URLs and uses HTTP response codes to indicate API errors. JSON is returned by all API responses, including errors.

    The API allows manipulation of three types of resources:
      - vehicle filings
      - boat filings
      - accommodation filings
      
    A filing resource is uniquely identified by a platformId and a filingReference. In case multiple versions of the resource have been created these can be distinguished by a sequence number which is part of the payload. The sequence number starts at zero and increments by one for every new version of the filing.

    # URL
    The path structure for creating a filing resource has the following structure:

    ```POST <host>/platforms/<platformId>/<assetType>-filings/<filingReference>```
    
    The three placeholders have the following semantics:
    - platformId - the ID assigned to the platform during the onboarding-process.
    - assetType - the asset type being filed for. Currently vehicle, boat or accommodation.
    - filingReference - the platform's internal reference for the filing. 

    Here is an example for the initial filing for a car:   

    ```POST <host>/platforms/85232389-c876-40a4-9b67-f95eec44825d/vehicle-filings/1234567```

    To get the filing resource use the following url:

    ```GET <host>/platforms/85232389-c876-40a4-9b67-f95eec44825d/vehicle-filings/1234567```

    # Requests
    Every request to the api must have the following two headers:
    - X-Transaktions-ID
    - X-Request-ID

    Each must be a unique UUIDv4 for every request. 

    # Corrections
    There are two types of filings:
    - Regular filings. These filing contain actual business data about revenue inside a filingData-element in the JSON payload.
    - Invalidations - these void whatever was filed previously for the given filing resource. The invalidation has no filingData-element.
    Whenever a new version of a resource is created, the old one is disregarded. 

    The following example flow illustrates how a resource is created, corrected and invalidated:

    | sequenceNumber | has filingData-element | Http status | current sequenceNumber    | Description                                                 |
    |----------------|------------------------|-------------|---------------------------|-------------------------------------------------------------|
    | 0              | yes                    | 201         | 0                         | Filing is filed                                             |
    | 1              | yes                    | 400         | no current sequenceNumber | The sequence number has to be 0 in the initial filing       | 
    | 1              | no                     | 201         | 1                         | This is an invalidation, old resource is disregarded        | 
    | 2              | no                     | 201         | 2                         | An invalidation, old resource is disregarded                | 
    | 3              | yes                    | 400         | 1                         | Wrong sequence number, expected 2                           | 
    | 3              | yes                    | 201         | 3                         | New version of filing is filed, old resource is disregarded | 
    | 4              | yes                    | 201         | 4                         | New version of filing is filed, old resource is disregarded | 


  version: 1.0.0
  title: Filing API
  termsOfService: 'http://swagger.io/terms/'
  contact:
    email: ufst-deleokonomi@ufst.dk
  x-logo:
    url: 'https://static.matchwork.com/company/logo/DK/1894799_logo_large.jpg'
    altText: Skatteministeriet Logo
    href: ''
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
externalDocs:
  description: See the repo here
  url: 'https://github.ccta.dk/TeamDelta/filing-api'
tags:
  - name: Filings
    description: Receiving filings from 3rd party platforms and displaying reported filings back to the platforms  regarding a danish taxpayers sharing economy transactions through a sharing economy platform.
paths:
  '/platforms/{platformId}/{assetType}-filing/{filingReference}':
    post:
      tags:
        - Filings
      parameters:
        - $ref: '#/components/parameters/platformId'
        - $ref: '#/components/parameters/assetType'
        - $ref: '#/components/parameters/filingReference'
      summary: Create or update filing
      description: |
        Create a new filing or update an existing one.
        When initially creating the filing, the sequence number in the payload needs to be 0. Whenever there is an update to a filing, the sequence number
        must increment in order to show the latest version. 
      operationId: addFiling
      requestBody:
        description: |
          Posting a filing requires a payload body in the form of json. Depending on the type of filing the json must be validated against the following schemas:

          [Accommodation-filing](https://en.wikipedia.org/wiki/Representational_state_transfer)

          [Vehicle-filing](https://en.wikipedia.org/wiki/Representational_state_transfer)

          [Boat-filing](https://en.wikipedia.org/wiki/Representational_state_transfer)

        required: true
        content:
          application/json: {}
            #schema:
             # $ref: "#/components/schemas/HttpRef"
          
      responses:
        '201':
          description: A correct filing was submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShortFiling'
        '400':
          description: Wrong sequenceNumber or wrong platformId was supplied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilingError'
        '503':
          description: Unknown token was supplied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilingError'
    get:
      tags:
        - Filings
      parameters:
        - $ref: '#/components/parameters/platformId'
        - $ref: '#/components/parameters/assetType'
        - $ref: '#/components/parameters/filingReference'
      summary: Get filing
      description: Get the current version of a filing for an asset type.
      operationId: showFilingWithReference
      responses:
        '200':
          description: Returns a list of filings reported by the platform.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ShortFiling'
                  links:
                    $ref: '#/components/schemas/UnversionedLink'
  '/platforms/{platformId}/{assetType}-filing/{filingReference}/{sequenceNumber}':
    get:
      tags:
        - Filings
      parameters:
        - $ref: '#/components/parameters/platformId'
        - $ref: '#/components/parameters/assetType'
        - $ref: '#/components/parameters/filingReference'
        - $ref: '#/components/parameters/sequenceNumber'
      summary: Get filing version
      description: Get a specific version of a filing where the sequence number denotes the desired version.
      operationId: showFilingWithSequence
      responses:
        '200':
          description: Returns the specified version of a filing.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ShortFiling'
                  links:
                    $ref: '#/components/schemas/UnversionedLink'
        '404':
          description: The given filingReference or sequenceNumber does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
  '/platforms/{platformId}/{assetType}-filing/{filingReference}/versions':
    get:
      tags:
        - Filings
      parameters:
        - $ref: '#/components/parameters/platformId'
        - $ref: '#/components/parameters/assetType'
        - $ref: '#/components/parameters/filingReference'
      summary: Get all versions of filing
      description: Shows current version as well as all previous versions of a filing.
      operationId: listFilingsWithReference
      responses:
        '200':
          description: Returns a list of filings reported by the platform.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ShortFiling'
                  links:
                    $ref: '#/components/schemas/UnversionedLink'
  '/platforms/{platformId}/{assetType}-filing':
    get:
      tags:
        - Filings
      parameters:
        - $ref: '#/components/parameters/platformId'
        - $ref: '#/components/parameters/assetType'
      summary: Get all filings of type (NOTE - Koden understøtter ikke denne funktionalitet)
      description: List all filings from a platform of a specific assetType
      operationId: listFilings
      responses:
        '200':
          description: Returns a list of filings reported by the platform.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ShortFiling'
                  links:
                    $ref: '#/components/schemas/UnversionedLink'
components:
  parameters:
    platformId:
      in: path
      name: platformId
      required: true
      schema:
        type: string
      description: uuid of the platform that is sending the request
      example: b410b282-168e-4ebe-805a-e73df079769d
    assetType:
      in: path
      name: assetType
      schema:
        type: string
        enum:
          - accommodation
          - vehicle
          - boat
      required: true
      description: 'The assets type, one of the three following values - accommodation, vehicle, boat'
    filingReference:
      in: path
      name: filingReference
      schema:
        type: string
      required: true
      description: The 3rd party platform's identifier for a filing
      example: 2a0f1f82-8ebf-418f-bbd8-b018f33a6971
    sequenceNumber:
      in: path
      name: sequenceNumber
      schema:
        type: integer
      required: true
      description: The sequence/verson number of a filing starting at zero while incrementing with each change
      example: '0'
  schemas:
    SuccessfulFiling:
      required:
        - data
        - links
      properties:
        data:
          type: object
          required:
            - id
            - type
            - attributes
            - links
        links:
          type: object
          required:
            - self
          properties:
            self:
              type: string
              example: /platforms/85232389-c876-40a4-9b67-f95eec44825d/accommodation-filings/123456
    FilingError:
      required:
        - errors
      type: object
      properties:
        error:
          type: object
          required:
            - title
            - source
            - detail
          properties:
            title:
              type: string
              example: Wrong sequenceNumber
            source:
              type: object
              required:
                - pointer
              properties:
                pointer:
                  type: string
                  example: '#/data/attributes/sequenceNumber'
            detail:
              type: string
              example: 'The value for sequenceNumber was 1 in the payload, but 2 was expected'
    Accomodation-Filing:
      description: An accommodation filing
      allOf:
        - $ref: '#/components/schemas/Filing'
        - type: object
          properties:
            data:
              type: object
              properties:
                type:
                  type: string
                  default: accommodation-filing
                attributes:
                  type: object
                  properties:
                    filingData:
                      type: object
                      properties:
                        asset:
                          type: object
                          properties:
                            structuredAddress:
                              oneOf:
                                - $ref: '#/components/schemas/structuredAddress'
                                - $ref: '#/components/schemas/unstructuredAddress'
    Vehicle-Filing:
      title: test
      description: A vehicle filing
      allOf:
        - $ref: '#/components/schemas/Filing'
        - type: object
          properties:
            data:
              type: object
              properties:
                type:
                  type: string
                  default: vehicle-filing
    Boat-Filing:
      description: A boat filing
      allOf:
        - $ref: '#/components/schemas/Filing'
        - type: object
          properties:
            data:
              type: object
              properties:
                type:
                  type: string
                  default: boat-filing
    Filing:
      required:
        - data
      type: object
      discriminator:
        properties:
          data:
            type: class
            properties:
              type: object
      properties:
        data:
          type: object
          required:
            - type
            - attributes
          properties:
            attributes:
              type: object
              required:
                - sequenceNumber
                - filingData
              properties:
                sequenceNumber:
                  type: integer
                  example: 0
                filingData:
                  type: object
                  required:
                    - personIdToken
                    - amount
                    - currency
                    - startTimestamp
                    - endTimestamp
                    - paymentTimestamp
                    - asset
                  properties:
                    personIdToken:
                      type: string
                      example: 46970070-0aa2-4d4c-bad9-aa18a248d5cb
                    amount:
                      type: integer
                      example: 795.51
                    currency:
                      type: string
                      example: DKK
                    startTimestamp:
                      type: string
                      format: date-time
                    endTimestamp:
                      type: string
                      format: date-time
                    paymentTimestamp:
                      type: string
                      format: date-time
                    asset:
                      type: object
                      properties:
                        assetUniqueId:
                          type: string
                          example: ''
                        assetCountryCode:
                          type: string
                          example: DK
                        level1:
                          type: string
                          example: ''
                        level2:
                          type: string
                          example: ''
                        level3:
                          type: string
                          example: ''
                        level4:
                          type: string
                          example: ''
    unstructuredAddress:
      type: object
      required:
        - countryCode
        - addressLine1
        - addressLine2
        - addressLine3
        - addressLine4
      properties:
        countryCode:
          type: string
          example: DK
        addressLine1:
          type: string
          example: 'Gadenavn, 42A, 3.th, København SV'
        addressLine2:
          type: string
          example: ''
        addressLine3:
          type: string
          example: ''
        addressLine4:
          type: string
          example: ''
    structuredAddress:
      type: object
      required:
        - countryCode
        - street
        - buildingIdentifier
        - floorIdentifier
        - doorId
        - postCode
        - city
      properties:
        countryCode:
          type: string
          example: DK
        street:
          type: string
          example: Gadenavn
        buildingIdentifier:
          type: string
          example: 42A
        floorIdentifier:
          type: string
          example: '3'
        doorId:
          type: string
          example: th
        postCode:
          type: integer
          example: 2450
        city:
          type: string
          example: København SV
    ShortFiling:
      type: object
      properties:
        id:
          type: string
          example: 2a0f1f82-8ebf-418f-bbd8-b018f33a6971
        type:
          type: string
          example: accommodation-filing
        attributes:
          type: object
          required:
            - filingReference
            - sequenceNumber
            - platformId
            - filingData
          properties:
            filingReference:
              type: string
              example: 2a0f1f82-8ebf-418f-bbd8-b018f33a6971
            sequenceNumber:
              type: string
              example: '0'
            platformId:
              type: string
              example: 85232389-c876-40a4-9b67-f95eec44825d
            filingData:
              type: object
              required:
                - amount
                - currency
                - startTimestamp
                - endTimestamp
                - paymentTimestamp
              properties:
                amount:
                  type: number
                  example: 1234
                currency:
                  type: string
                  example: DKK
                startTimestamp:
                  type: string
                  example: '2019-03-12T12:41:10.218Z'
                endTimestamp:
                  type: string
                  example: '2019-03-12T12:41:10.218Z'
                paymentTimestamp:
                  type: string
                  example: '2019-03-12T12:41:10.218Z'
        links:
          $ref: '#/components/schemas/VersionedLink'
    VersionedLink:
      required:
        - self
      type: object
      properties:
        self:
          type: string
          example: /platforms/85232389-c876-40a4-9b67-f95eec44825d/accommodation-filings/12345/versions/0
    UnversionedLink:
      required:
        - self
      type: object
      properties:
        self:
          type: string
          example: /platforms/85232389-c876-40a4-9b67-f95eec44825d/accommodation-filings
    NotFound:
      type: object
      properties:
        message:
          type: string
          example: Not Found
        error:
          type: integer
          example: 404
    HttpRef:
      $ref: "http://localhost:3000/accommodation-filing.json"
  requestBodies:
    Filing:
      content:
        application/json:
          schema:
            allOf:
              - description: filing
              - $ref: '#/components/schemas/Filing'
      required: true
