openapi: 3.0.2
servers:
  - url: http://identity-provider-deling-tst.ocpt.ccta.dk/
x-servers:
  - url: http://identity-provider-deling-tst.ocpt.ccta.dk/
info:
  description: |
   
    # Introduction
    This is the API for receiving filings concerning citizens taxable transactions, from sharing economy platforms, for project DEL (Deleøkonomi).

    # Authentication
    Put authentication information here.

  version: 1.0.0
  title: Filing API
  termsOfService: 'http://swagger.io/terms/'
  contact:
    email: ufst-deleokonomi@ufst.dk
  x-logo:
    url: 'https://cache.nichehuset.dk/annoncer/jobannoncer/images/annoncoerer/logoer/567/740.png'
    altText: Skatteministeriet Logo
    href: ''
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
externalDocs:
  description: See the repo here
  url: https://github.ccta.dk/TeamDelta/filing-api
tags:
  - name: filings
    description: Receiving filings from 3rd party platforms and displaying reported filings back to the platforms
    
paths:
  # ------------- FilingController -------------
  /platforms/{platformId}/{assetType}-filing/{filingReference}:
    post:
      tags:
        - filings
      parameters:
        - $ref: '#/components/parameters/platformId'
        - $ref: '#/components/parameters/assetType'
        - $ref: '#/components/parameters/filingReference'
      summary: Add or update a filing regarding a danish taxpayers sharing economy transactions through a sharing economy platform
      operationId: addFiling
      requestBody:
        $ref: '#/components/requestBodies/Filing'
      responses:
        201:
          description: A correct filing was submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessfulFiling'
        400:
          description: Wrong sequenceNumber or wrong platformId was supplied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilingError'
        503:
          description: Unknown token was supplied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilingError'
    get:
      tags:
        - filings
      parameters:
        - $ref: '#/components/parameters/platformId'
        - $ref: '#/components/parameters/assetType'
        - $ref: '#/components/parameters/filingReference'
      summary: Show a filing from a platform of a specific assetType with the given filingReference and sequenceNumber
      operationId: showFilingWithReference
      responses:
        200:
          description: Returns a list of filings reported by the platform.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ShortFiling'
                  links:
                    $ref: '#/components/schemas/UnversionedLink'

  /platforms/{platformId}/{assetType}-filing:
    get:
      tags:
        - filings
      parameters:
        - $ref: '#/components/parameters/platformId'
        - $ref: '#/components/parameters/assetType'
      summary: List all filings from a platform of a specific assetType
      operationId: listFilings
      responses:
        200:
          description: Returns a list of filings reported by the platform.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ShortFiling'
                  links:
                    $ref: '#/components/schemas/UnversionedLink'

  /platforms/{platformId}/{assetType}-filing/{filingReference}/{sequenceNumber}:
    get:
      tags:
        - filings
      parameters:
        - $ref: '#/components/parameters/platformId'
        - $ref: '#/components/parameters/assetType'
        - $ref: '#/components/parameters/filingReference'
        - $ref: '#/components/parameters/sequenceNumber'
      summary: Show a filing from a platform of a specific assetType with the given filingReference and sequenceNumber
      operationId: showFilingWithSequence
      responses:
        200:
          description: Returns a list of filings reported by the platform.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ShortFiling'
                  links:
                    $ref: '#/components/schemas/UnversionedLink'

  /platforms/{platformId}/{assetType}-filing/{filingReference}/versions:
    get:
      tags:
        - filings
      parameters:
        - $ref: '#/components/parameters/platformId'
        - $ref: '#/components/parameters/assetType'
        - $ref: '#/components/parameters/filingReference'
      summary: Show all filings and updates from a platform of a specific assetType with the given filingReference
      operationId: listFilingsWithReference
      responses:
        200:
          description: Returns a list of filings reported by the platform.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ShortFiling'
                  links:
                    $ref: '#/components/schemas/UnversionedLink'

components:
  # ------------- Path Parameters -------------
  parameters:
    platformId:
      in: path
      name: platformId
      required: true
      schema:
        type: string
      description: uuid of the platform that is sending the request
      example: "b410b282-168e-4ebe-805a-e73df079769d"
    assetType:
      in: path
      name: assetType
      schema:
        type: string
        enum:
          - accommodation
          - vehicle
          - boat
      required: true
      description: The assets type, one of the three following values - accommodation, vehicle, boat
      example: "accommodation"
    filingReference:
      in: path
      name: filingReference
      schema:
        type: string
      required: true
      description: The 3rd party platforms identifier for a platform
      example: "2a0f1f82-8ebf-418f-bbd8-b018f33a6971"
    sequenceNumber:
      in: path
      name: sequenceNumber
      schema:
        type: string
      required: true
      description: The 3rd party platforms identifier for a platform
      example: "0"
  # ------------- Schemas -------------
  schemas:
    # ------------- 2xx -------------
    SuccessfulFiling:
      required:
        - data
        - links
      properties:
        data:
          type: object
          required:
            - id
            - type
            - attributes
            - links
        links:
          type: object
          required:
            - self
          properties:
            self:
              type: string
              example: "/platforms/85232389-c876-40a4-9b67-f95eec44825d/accommodation-filings/123456"
    # ------------- 4xx -------------
    FilingError:
      required:
        - errors
      type: object
      properties:
        error:
          type: object
          required:
            - title
            - source
            - detail
          properties:
            title:
              type: string
              example: "Wrong sequenceNumber"
            source:
              type: object
              required:
                - pointer
              properties:
                pointer:
                  type: string
                  example: "#/data/attributes/sequenceNumber"
            detail:
              type: string
              example: "The value for sequenceNumber was 1 in the payload, but 2 was expected"
    # ------------- 5xx -------------

    # ------------- Reusable entities -------------
    
    AccomodationFiling:
      description: An accommodation filing
      allOf:
        - $ref: '#/components/schemas/Filing'
        - type: object
          properties:
            packSize:
              type: integer
              format: int32
              description: The size of the pack the dog is from
              default: 1
              minimum: 1
          required:
            - packSize
    
    VehicleFiling:
      description: A vehicle filing
      allOf:
        - $ref: '#/components/schemas/Filing'
        - type: object
          properties:
            packSize2:
              type: integer
              format: int32
              description: The size of the pack the dog is from
              default: 1
              minimum: 1
          required:
            - packSize2
    
    Filing:
      required:
        - data
      type: object
      discriminator:
        propertyName: type
        mapping:
          accomodation-filing: '#/components/schemas/AccomodationFiling'
          vehicle-filing: '#/components/schemas/VehicleFiling'
      properties:
        data:
          type: object
          required:
            - type
            - attributes
          properties:
            type:
              type: string
              example: "accomodation-filing"
            attributes:
              type: object
              required:
                - sequenceNumber
                - filingData
              properties:
                sequenceNumber:
                  type: integer
                  example: 0
                filingData:
                  type: object
                  required:
                    - personIdToken
                    - amount
                    - currency
                    - startTimestamp
                    - endTimestamp
                    - paymentTimestamp
                    - asset
                  properties:
                    personIdToken:
                      type: string
                      example: "46970070-0aa2-4d4c-bad9-aa18a248d5cb"
                    amount:
                      type: integer
                      example: 795.51
                    currency:
                      type: string
                      example: "DKK"
                    startTimestamp:
                      type: string
                      format: date-time
                    endTimestamp:
                      type: string
                      format: date-time
                    paymentTimestamp:
                      type: string
                      format: date-time
                    asset:
                      type: object
                      properties:
                        assetUniqueId:
                          type: string
                          example: ""
                        assetCountryCode:
                          type: string
                          example: "DK"
                        level1:
                          type: string
                          example: ""
                        level2:
                          type: string
                          example: ""
                        level3:
                          type: string
                          example: ""
                        level4:
                          type: string
                          example: ""
                        address: 
                          oneOf:
                            - $ref: '#/components/schemas/unstructuredAddress'
                            - $ref: '#/components/schemas/structuredAddress'

    unstructuredAddress:
      type: object
      required:
        - countryCode
        - addressLine1
        - addressLine2
        - addressLine3
        - addressLine4
      properties:
        countryCode:
          type: string
          example: ""
        addressLine1:
          type: string
          example: ""
        addressLine2:
          type: string
          example: ""
        addressLine3:
          type: string
          example: ""
        addressLine4:
          type: string
          example: ""

    structuredAddress:
      type: object
      required:
        - countryCode
        - street
        - buildingIdentifier
        - floorIdentifier
        - doorId
        - postCode
        - city
      properties:
        countryCode:
          type: string
          example: "DK"
        street:
          type: string
          example: "DK"
        buildingIdentifier:
          type: string
          example: "DK"
        floorIdentifier:
          type: string
          example: "DK"
        doorId:
          type: string
          example: "DK"
        postCode:
          type: string
          example: "DK"
        city:
          type: string
          example: "DK"

    ShortFiling:
      type: object
      properties:
        id:
          type: string
          example: "12345"
        type:
          type: string
          example: "accommodation-filing"
        attributes:
          type: object
          required:
            - filingReference
            - sequenceNumber
            - platformId
            - filingData
          properties:
            filingReference:
              type: string
              example: "12345"
            sequenceNumber:
              type: string
              example: "0"
            platformId:
              type: string
              example: "85232389-c876-40a4-9b67-f95eec44825d"
            filingData:
              type: object
              required:
                - amount
                - currency
                - startTimestamp
                - endTimestamp
                - paymentTimestamp
              properties:
                amount:
                  type: number
                  example: 1234.0
                currency:
                  type: string
                  example: "DKK"
                startTimestamp:
                  type: string
                  example: "2019-03-12T12:41:10.218Z"
                endTimestamp:
                  type: string
                  example: "2019-03-12T12:41:10.218Z"
                paymentTimestamp:
                  type: string
                  example: "2019-03-12T12:41:10.218Z"
        links:
          $ref: '#/components/schemas/VersionedLink'

    VersionedLink:
      required:
        - self
      type: object
      properties:
        self:
          type: string
          example: "/platforms/85232389-c876-40a4-9b67-f95eec44825d/accommodation-filings/12345/versions/0"
    UnversionedLink:
      required:
        - self
      type: object
      properties:
        self:
          type: string
          example: "/platforms/85232389-c876-40a4-9b67-f95eec44825d/accommodation-filings"
          
  requestBodies:
    Filing:
      content:
        application/json:
          schema:
            allOf:
              - description: My Pet
                title: Pettie
              - $ref: '#/components/schemas/Filing'
      description: Pet object that needs to be added to the store
      required: true
#  securitySchemes:
#    api_key:
#      type: apiKey
#      in: header
#      name: X-API-KEY
