openapi: 3.0.2
servers:
  - url: "http://del.skat.dk/"
x-servers:
  - url: "http://del.skat.dk/"
info:
  description: |
    # Introduction
    On December 20th 2018 new legislation regarding sharing economy was passed. 
    To ensure compliance with the legislation project DEL started with the goal of creating a reporting solution, allowing sharing economy platforms to report relevant income to Skatteforvaltningen regarding the platforms users and their rentals. Users are incentivized to use platforms that report via the reporting solution by giving them a higher deduction. In the area of short term housing rentals users are further incentivized by elevating the maximum rented period from 30 days to 70 days.
    This is the API for receiving filings concerning citizens taxable transactions, from sharing economy platforms, 
    for project DEL (Deleøkonomi).

    The project is built using REST architecture and it exposes the following functionality to sharing economy platforms:
    - Userflow to acquire a valid identity of a given user.
    - API support for reporting and updating user income to the danish tax authorities
    - API support for viewing what has been reported to the danish tax authorities

    The API uses JSON as the payload format. The API is built with resource-oriented URLs and uses HTTP response codes to indicate API errors. JSON is returned by all API responses, including errors.

    At the time of writing the API handles three distinct resource types:
    - vehicle filings
    - boat filings
    - accommodation filings

    A filing resource is uniquely identified by a platformId and a filingReference. 
    In case multiple versions of the resource have been created these can be distinguished by a sequence number which is part of the payload. 
    The sequence number starts at one and increments by one for every new version of the filing.

    # Accessing the API
    The system authenticates 3rd party platforms through two-way ssl.

    To enable two-way ssl the following steps must be taken:
      -The client (platform) must establish trust to Skat's certificate authority. This is done by installing these certificates <Insert-certificates-or-maybe-link-to-them-here>
      -The reporting solution must establish trust to the client. This is done by sending the public key to us so we can install it.
    
    **For non-production environments**  (Currently: FKT) we supply a certificate that already has trust established upon request.

    # Requests
    Every request to the api must have the following two headers:
    - X-Transaktions-ID
    - X-Request-ID

    Each must be a unique [UUIDv4](https://en.wikipedia.org/wiki/Universally_unique_identifier#Version_4_(random)) for every request. 

    # Test data for FKT

    This section provides consumers of the API with the necessary information to make valid filings for the FKT environment.
    
    **Tokens:** The tax payers are linked to your platform through a unique ID-token. This token will be generated the first time they allow your platform to report on their behalf.
    
    # Filing, Correction and invalidation
    *For examples of a filing see the request/reponse samples further below*

    To allow a sharing economy platform to report the taxable income of their users to us, a platform can:
      - Post an initial filing.
      - Post a correction to a filing
      - Post an invalidation of a filing
    
    An initial filing is the filing with a given filingReference that has the sequenceNumber 1.

    A correction is any filing on an already created resources filingReference with a subsequent sequenceNumber.

    An invalidation is, much like a correction, a filing on an already created resources filingReference with a subsequent sequenceNumber, but without the filingData element.

    When a new version of a resource is created, by either making a correction or invalidating the filing, all older versions are disregarded when calculating taxes.

    The following example flow illustrates how a resource is created, corrected and invalidated. 

    | sequenceNumber | has filingData-element | Http status | current sequenceNumber    | Description |   
    |-|-----|---|---------------------------|-------------------------------------------------------------|
    |1|	no	|400|no current sequence number |	The first filing cannot be an invalidation                  |
    |2|	yes |400|no current sequence number |	The sequence number has to be 1 in the initial filing       |
    |1|	yes |201|1                          |	Filing is filed                                             |
    |2|	no	|201|2                          |	This is an invalidation, old resource is disregarded        |
    |4|	yes |400|2                          |	Wrong sequence number, expected 2                           |
    |3|	no	|201|3                          |	An invalidation, old resource is disregarded                |
    |4|	yes |201|4                          |	New version of filing is filed, old resource is disregarded |
    |5|	yes |201|5                          |	New version of filing is filed, old resource is disregarded |

    The user who this filing regards to is then taxed based on the input of the filing with sequenceNumber 5

  version: 1.0.0
  title: Filing API
  termsOfService: "http://swagger.io/terms/"
  contact:
    email: ufst-deleokonomi@ufst.dk
  x-logo:
    url: "https://raw.githubusercontent.com/skat/deling-api-documentation/master/skatteministeret_logo.png"
    altText: Skatteministeriet Logo
    href: ""
  license:
    name: Apache 2.0
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
tags:
  - name: Filings
    description: This section references the possible operations in regards to reporting a users income.
paths:
  "/platforms/{platformId}/{assetType}-filing/{filingReference}":
    post:
      tags:
        - Filings
      parameters:
        - $ref: "#/components/parameters/platformId"
        - $ref: "#/components/parameters/assetType"
        - $ref: "#/components/parameters/filingReference"
      summary: Create, update or invalidate filing
      description: |
        Create a new filing or update/invalidate an existing one.
        When initially creating the filing, the sequence number in the payload needs to be 1. Whenever there is an update to a filing, the sequence number
        must increment in order to indicate the new latest version.
      operationId: addFiling
      requestBody:
        description: |
          Posting a filing requires a payload body in the form of json. Depending on the type of filing the json must be validated against the following schemas:

          [Accommodation-filing](https://gist.githubusercontent.com/svc-ufst-deleokonomi-gist-deployment/d3979d5386e42c091ed57133564934e2/raw/accommodation-filing-schema.json)

          [Vehicle-filing](https://gist.githubusercontent.com/svc-ufst-deleokonomi-gist-deployment/d3979d5386e42c091ed57133564934e2/raw/vehicle-filing-schema.json)

          [Boat-filing](https://gist.githubusercontent.com/svc-ufst-deleokonomi-gist-deployment/d3979d5386e42c091ed57133564934e2/raw/boat-filing-schema.json)
           
        content:
          application/json:
            schema:
              example:
                $ref: "https://gist.githubusercontent.com/svc-ufst-deleokonomi-gist-deployment/d3979d5386e42c091ed57133564934e2/raw/vehicle-filing-request.json"
      responses:
        "201":
          description: A correct filing was submitted
          content:
            application/json:
              example:
                $ref: "https://gist.githubusercontent.com/svc-ufst-deleokonomi-gist-deployment/d3979d5386e42c091ed57133564934e2/raw/vehicle-filing-response.json"
        "400":
          description: Wrong sequenceNumber or wrong platformId was supplied
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FilingError"
        "503":
          description: Unknown token was supplied
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FilingError"
    get:
      tags:
        - Filings
      parameters:
        - $ref: "#/components/parameters/platformId"
        - $ref: "#/components/parameters/assetType"
        - $ref: "#/components/parameters/filingReference"
      summary: Get filing
      description: Get the current version of a filing for an asset type.
      operationId: showFilingWithReference
      responses:
        "200":
          description: Returns a list of filings reported by the platform.
          content:
            application/json:
              example:
                $ref: "https://gist.githubusercontent.com/svc-ufst-deleokonomi-gist-deployment/d3979d5386e42c091ed57133564934e2/raw/vehicle-filing-response.json"
  ? "/platforms/{platformId}/{assetType}-filing/{filingReference}/{sequenceNumber}"
  : get:
      tags:
        - Filings
      parameters:
        - $ref: "#/components/parameters/platformId"
        - $ref: "#/components/parameters/assetType"
        - $ref: "#/components/parameters/filingReference"
        - $ref: "#/components/parameters/sequenceNumber"
      summary: Get filing version
      description: Get a specific version of a filing where the sequence number denotes the desired version.
      operationId: showFilingWithSequence
      responses:
        "200":
          description: Returns the specified version of a filing.
          content:
            application/json:
              example:
                $ref: "https://gist.githubusercontent.com/svc-ufst-deleokonomi-gist-deployment/d3979d5386e42c091ed57133564934e2/raw/vehicle-filing-response.json"
        "404":
          description: The given filingReference or sequenceNumber does not exist
          content:
            application/json:
              example:
                $ref: "https://gist.githubusercontent.com/svc-ufst-deleokonomi-gist-deployment/d3979d5386e42c091ed57133564934e2/raw/not-found-response.json"
  "/platforms/{platformId}/{assetType}-filing/{filingReference}/versions":
    get:
      tags:
        - Filings
      parameters:
        - $ref: "#/components/parameters/platformId"
        - $ref: "#/components/parameters/assetType"
        - $ref: "#/components/parameters/filingReference"
      summary: Get all filing versions
      description: Shows current version as well as all previous versions of a filing.
      operationId: listFilingsWithReference
      responses:
        "200":
          description: Returns a list of filings reported by the platform.
          content:
            application/json:
              example:
                $ref: "https://gist.githubusercontent.com/svc-ufst-deleokonomi-gist-deployment/d3979d5386e42c091ed57133564934e2/raw/vehicle-filing-versions-response.json"
  "/platforms/{platformId}/":
    get:
      tags:
        - Filings
      parameters:
        - $ref: "#/components/parameters/platformId"
      summary: Get all filings
      description: List all filings for the platform
      operationId: listFilings
      responses:
        "200":
          description: Returns a list of filings reported by the platform.
          content:
            application/json:
              example:
                $ref: "https://gist.githubusercontent.com/svc-ufst-deleokonomi-gist-deployment/d3979d5386e42c091ed57133564934e2/raw/all-filings-response.json"
  "/platforms/{platformId}/{assetType}-filing":
    get:
      tags:
        - Filings
      parameters:
        - $ref: "#/components/parameters/platformId"
        - $ref: "#/components/parameters/assetType"
      summary: Get all filings of type
      description: List all filings from a platform of a specific assetType
      operationId: listFilings
      responses:
        "200":
          description: Returns a list of filings reported by the platform.
          content:
            application/json:
              example:
                $ref: "https://gist.githubusercontent.com/nikolaj291/1f184d57167622f0431605af0beb2818/raw/all-vehicle-type-filings-response.json"
components:
  parameters:
    platformId:
      in: path
      name: platformId
      required: true
      schema:
        type: string
      description: uuid of the platform that is sending the request
      example: b410b282-168e-4ebe-805a-e73df079769d
    assetType:
      in: path
      name: assetType
      schema:
        type: string
        enum:
          - accommodation
          - vehicle
          - boat
      required: true
      description: "The assets type, one of the three following values - accommodation, vehicle, boat"
    filingReference:
      in: path
      name: filingReference
      schema:
        type: string
      required: true
      description: The 3rd party platform's identifier for a filing
      example: 2a0f1f82-8ebf-418f-bbd8-b018f33a6971
    sequenceNumber:
      in: path
      name: sequenceNumber
      schema:
        type: integer
      required: true
      description: The sequence/verson number of a filing starting at zero while incrementing with each change
      example: "0"
  schemas:
    SuccessfulFiling:
      required:
        - data
        - links
      properties:
        data:
          type: object
          required:
            - id
            - type
            - attributes
            - links
        links:
          type: object
          required:
            - self
          properties:
            self:
              type: string
              example: /platforms/85232389-c876-40a4-9b67-f95eec44825d/accommodation-filings/123456
    FilingError:
      required:
        - errors
      type: object
      properties:
        error:
          type: object
          required:
            - title
            - source
            - detail
          properties:
            title:
              type: string
              example: Wrong sequenceNumber
            source:
              type: object
              required:
                - pointer
              properties:
                pointer:
                  type: string
                  example: "#/data/attributes/sequenceNumber"
            detail:
              type: string
              example: "The value for sequenceNumber was 1 in the payload, but 2 was expected"
